{{> head}}
{{!-- <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css"> --}}
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
{{!-- <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css"> --}}
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<body class="row">


  <!-- start of nav bar -->

  {{> navBar}}

  <!-- end of navbar -->


  <!-- start of side bar -->
  {{> sidebar}}
  
  <!-- end of side bar -->
 
  <!-- start of page content -->
  <div class="col-sm-6 pt-2 mt-3  " style="padding-left: 20px;">
   
                       {{> messages }}


                        <section id="stats-subtitle">
        <div class="row">
            <div class="col-12 mt-3 mb-1">
                <h4 class="text-uppercase"> {{dname}}</h4>
                
            </div>
        </div>

        
                  <div class="row">
                 



<div class="col-xl-6 col-md-6 col-sm-8">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div class="media">
            <div class="media-body">
              <h3 class="card-title mb-0">{{totalAppointments}}</h3>
              <span>APPOINTMENTS TODAY</span>
            </div>
          </div>
          <div class="align-self-center">
            <i class="icon-support primary fs-1 me-1"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

                  </div>

                     </div>
        
    </section>
 








  </div>

  <link rel="stylesheet" href="/css/vanillaCalendar.css">

  <!-- end of page  content -->

{{!--todo: send to page if not auth to choose btn doc and pat --}}




  <!-- start of events rightbar -->
  {{> events.rightbar}}

  <!-- end of events bar -->


  {{> footer}}