{{> head}}

<body class="row">


  <!-- start of nav bar -->

  {{> navBar}}

  <!-- end of navbar -->


  <!-- start of side bar -->
  {{> sidebar}}
  
  <!-- end of side bar -->
 
  <!-- start of page content -->
  <div class="col-sm-6 pt-2 mt-3  " style="padding-left: 20px;">

    {{> addDoc.form}}
   
                       
    
  </div>


  <!-- end of page  content -->





  <!-- start of events rightbar -->
  {{> events.rightbar}}

  <!-- end of events bar -->

<link rel="stylesheet" href="/css/vanillaCalendar.css">
  {{> footer}}