<div class="modal fade" id="appModal" tabindex="-1" aria-labelledby="appModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Add Appointment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">


          <form action="/appointments" method="POST" id="appForm">
            <div class="mb-3">
              <div class="row">
                <div class="col-sm-6">
                  <strong>Patient Name:</strong>
                </div>

                <div class="col-sm-6">
                  <span id="appPatientName"></span>
                </div>

              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col-sm-6">



                  <strong>Patient Id:</strong>
                </div>

                <div class="col-sm-6">
                  <span id="appPatientId"></span>
                </div>

              </div>
            </div>
            <div class="mb-3">
              <label for="medication" class="form-label"><strong> Appointment Time:</strong></label>

              <input class="form-control" type="time" id="appointment-time" name="time" min="08:00" max="17:00">

            </div>
            <div>

              <label for="medication" class="form-label"><strong> Appointment Date:</strong></label>

              <input type="date" class="form-control " id="date-input" name="date">

            </div>

            <div class="mb-3">
              <input type="hidden" class="form-control" name="patientId" id="appPatientIdInput">

            </div>

             <div class="mb-3">
              <input type="hidden" class="form-control" name="patientEmail" id="appPatientEmail">

            </div>

            <div class="mb-3">
              <label for="description" class="form-label"><strong>Mode:</strong></label>

              <select class="form-select  " name="mode" aria-label=".form-select-sm example">
                {{!-- <option selected>Open this select menu</option> --}}
                <option selected value="Online">Online</option>
                <option value="Physical">Physical (In Clinic)</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="description" class="form-label"><strong>Appointment Description:</strong></label>

              <textarea class="form-control" name="description" id="descrip" cols="2" rows="2"></textarea>
            </div>

            <div class="modal-footer">

              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

              <button type="submit" class="btn btn-primary">Add Appointment</button>
            </div>
          </form>


        </div>
      </div>




    </div>
  </div>
</div>