<div class="row ">
    <div class="col-sm-12 pt-3 container">

      <nav class="navbar rounded-3  navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand " href="#"><img src="img/ady-logo.png" alt="" height="50px" width="80px"></a>
        <!-- onclick="openNav()" -->
        26/1/2023
        <button class="navbar-toggler ms-auto tog-button" id="sidebarToggler" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>






        <div class="collapse navbar-collapse" id="navbarNav">

        </div>
      </nav>

    </div>
  </div>
