 <div class="modal fade" id="rescModal" tabindex="-1" aria-labelledby="rescModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Request Appointment Reschedule  </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

          <form action="/appointments/resc"method="POST" id="rescForm">

              <div class="mb-3">
                  <input type="hidden" class="form-control" name="appId" id="appId">

                </div>
            <div>

              <label for="medication" class="form-label"><strong> Appointment Date:</strong></label>

              <input type="date" class="form-control " id="date-input" name="date">

            </div>
                

                 <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

               <button type="submit" class="btn btn-primary">Request Schedule</button>
                 </div>
          </form>
         
          
        </div>
      </div>
     
        
        
    
    </div>
  </div>
</div>   


